target
node
node_modules
.idea
.mule
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
.gradle
build
 /Users/tap/dev/software/solr/solr-5.3.1-1/sampleRestuarants/
 
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
